.footer{
    height: 200px;
    background-color: rgb(126, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
}

.socialMedia svg{
    color: white;
    margin: 20px;
    font-size: 70px;
    cursor: pointer;
}
.footer p{
    color: white;
}